@page "/admin/roles"
@model RAZOR_PAGE9_ENTITY.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Danh sách các Role(vai trò)";

}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<div class="mb-2">
    <a class="btn btn-secondary" asp-page="./Create">Tạo mới role</a>
    <a class="btn btn-secondary" asp-page="./User/Index">Quản lý người dùng</a>
</div> 
<table class="table">
    <tr>
        <th>Tên role</th>
        <th>Tác vụ</th>
    </tr>
    @foreach(var role in Model.Roles)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-roleid="@role.Id">Chỉnh sửa</a>
                <a class="btn btn-success btn-sm" asp-page="./Delete" asp-route-roleid="@role.Id">Xóa</a>
            </td>
        </tr>
    }


</table>