@page "admin/assign-role-member/{userid}"
@model RAZOR_PAGE9_ENTITY.Areas.Admin.Pages.User.AddRoleModel
@{
    ViewData["Title"] = "Gán role cho người dùng";
}

<h4>Thiết lập Role cho thành viên: @Model.user.UserName</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleNames"></label>
                @Html.ListBoxFor(m => m.RoleNames, Model.allRoles, new {
                    id = "id-select-role",
                    @class = "form-control"
                })
                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a asp-page="./Index" class="btn btn-primary">Danh sách thành viên</a>
        </form>
        <hr />
        <p>Các claim của User:</p>
        @if(Model.RoleClaims.Count>0)
        {
            <ul>
                @foreach (var claim in Model.RoleClaims)
                {
                    <li>@claim.ClaimType: @claim.ClaimValue</li>
                }
            </ul>
        }
        <p>Các Claim riêng của User: <a asp-page-handler="AddClaim" asp-page="./AddUserClaim" asp-route-userid ="@Model.user.Id" >+ Thêm Claim</a></p>
        @if(Model.UserClaims.Count > 0)
        {
            <ul>
                @foreach (var claim in Model.UserClaims)
                {
                    <li><a asp-page="./AddUserClaim" asp-page-handler="EditClaim" asp-route-claimid="@claim.Id">@claim.ClaimType: @claim.ClaimValue</a></li>
                }
            </ul>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}