    @page
    @model RAZOR_PAGE9_ENTITY.Pages_Blog.IndexModel

    @{
        ViewData["Title"] = "My BLog";
        int i = 0;

        var datapaging = new RAZOR_PAGE9_ENTITY.Helpers.Pagingmodel()
        {
                    currentpage = Model.currentPage,
                    countpages = Model.countPages,
                    generateUrl = (int? p) => @Url.Page("/Blog/Index", new {p= p})
        };
    }

    <partial name="_PagingXTL" model="@datapaging" />

    <h1>Danh sach bai viet</h1>
    <form method="get" asp-page="Privacy">
        <label>Tìm kiếm</label>
        <input name="SearchString" value=" " />
        <button type="submit">Tìm</button>
    </form>
    <p>
        <a asp-page="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    @Html.DisplayNameFor(model => model.Article[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Article[0].Created)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody> 
    @foreach (var item in Model.Article) {
            <tr>
                <td>
                    @(++i)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                    </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Chinh sua</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Chi tiet</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Xoa</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
